{{ form_start(form) }}
<h3>Images</h3>
<ul class="images" data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
    <li>{{ form_row(form.images) }}</li>
</ul>
<button type="button" class="add_item_link" data-collection-holder-class="images">Add an image</button>

<h3>Docs</h3>
<ul class="docs" data-index="{{ form.docs|length > 0 ? form.docs|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.docs.vars.prototype)|e('html_attr') }}">
    <li>{{ form_row(form.docs) }}</li>
</ul>
<button type="button" class="add_item_link" data-collection-holder-class="docs">Add a doc</button>

<script>
    const addFormToCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

        const item = document.createElement('li');

        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
                /__name__/g,
                collectionHolder.dataset.index
            );

        collectionHolder.appendChild(item);

        collectionHolder.dataset.index++;
    };

    document
        .querySelectorAll('.add_item_link')
        .forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });
</script>
{{ form_end(form) }}